body {
  text-align: center;
  margin: 0;
}

h1, h2 {
  color: #222831;
  font-family: helvetica;
  font-size: 2.5rem;
}

h3 {
  color: #2997ff;
  font-family: helvetica;
  font-size: 1.5rem;
}
p {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
}

a {
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  width: 5%;
}

.top-container {
  background-color: #cff1ef;
  padding-top: 120px;
  position: relative;
}

.header {
  font-size: 5.62rem;
}

.sub-header {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2.5rem;
  font-weight: normal;
}

.top-cloud {
  right: 30%;
  position: absolute;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 300px;
}

.middle-container {
  margin-top: 5%;
}

.profile {
  margin: 0 auto 5% auto;
  width: 40%;
}

.profile-pic {
  border-radius: 200px;
  width: 250px;
}

.skills {
  margin-top: 6%;
}

.skill-row {
  line-height: 2;
  margin: 2% auto 8% auto;
  text-align: left;
  width: 50%;
}

.second-skill-row {
  margin-bottom: 7%;
}

.front-end {
  float: left;
  margin-right: 10%;
  height: 20%;
  width: 20%;
}

.back-end {
  float: right;
  margin-left: 5%;
  height: 25%;
  width: 25%;
}

.skill {
  position: relative;
  top: 1rem;
}

.contact-me {
  margin-top: 100px;
}

.bottom-container {
  background-color: #cff1ef;
  margin-top: 100px;
  padding: 50px;
}

.resume-button {
  background: #CFF1EF;
  background-image: -webkit-linear-gradient(top, #CFF1EF, #CFF1EF);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #222831;
  font-family: monospace;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-image: -moz-linear-gradient(top, #CFF1EF, #CFF1EF);
  background-image: -ms-linear-gradient(top, #CFF1EF, #CFF1EF);
  background-image: -o-linear-gradient(top, #CFF1EF, #CFF1EF);
  background-image: linear-gradient(to bottom, #CFF1EF, #CFF1EF);
  
}

.resume-button:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  
}
