@media (max-width: 991px) {

  #title {
    text-align: center;
  }

  .model-img {
    position: relative !important;
    transform: rotate(0) !important;
    margin: 5% auto 0 auto !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #222831;
}

h1 {
  color: #222831;
  font-weight: 900;
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  color: #ff4c68;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

h4 {
  color: #ff4c68;
  font-size: 2em;
  text-align: center;
}

p {
  color: #ff4c68;
  font-size: 1.5em;
}

hr {
  border-color: #ff4c68;
  border-style: dotted none none none;
  border-width: 0.5em;
  width: 30%;
}

#title {
  background-color: #ff4c68;
  position: relative;
}

.container-fluid-1 {
  padding: 3% 10% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.navbar {
  font-size: 1.5em;
  margin-bottom: 3%;
}

.nav-item {
  padding: 0 3%;
}

.btn-header {
  margin: 5% 2.5% 5% 0;
}

.model-img {
  position: absolute;
  margin: 5% auto 5% 25%;
  width: 50%;
  transform: rotate(25deg);
}

#prospects {
  background-color: #222831;
  position: relative;
  padding: 10% 5% 0 5%;
}

.prospects-row {
  margin: 5% auto;
}

.prospects-man {
  margin-top: 5%;
}

.prospects-img {
  margin: 0 auto 0 auto;
  text-align: center;
}

.prospects-approval {
  text-align: center;
}

.prospects-bio {
  font-style: italic;
  text-align: center;
}

.bio-swipe-left {
  text-decoration: line-through;
}

.prospects-bio-location {
  font-weight: bold;
  text-align: center;
}

.white_man_smile {
  width: 45%;
  border-radius: 100%;
}

.black_man_smile {
  width: 45%;
  background-color: #cadefc;
  border-radius: 100%;
}

.asian_man_smile {
  width: 45%;
  border-radius: 100%;
}

#features {
  background-color: #eeeeee;
  margin: 0 auto;
  padding: 10% 5% 5% 5%;
}

.feature-div {
  text-align: center;
  margin: 10% auto;
}

.icon {
  color: #ff4c68;
  margin-bottom: 3%;
}

.icon:hover {
  color: #ff1e56;
}

#testimonials {
  margin: 10% auto 0 auto;
  text-align: center;
}

.testimonial-div {
  align-items: center;
  padding: 5% 5%;
  margin: 0;
}

.testimonial-img {
  border-radius: 30%;
  padding: 0 10%;
  margin: 0 auto;
}

.testimonial-col-div {
  position: relative;
}

.testimonial-p {
  text-align: center !important;
  margin: 10% 0;
}

#press {
  height: 120px;
  text-align: center;
}

.press-logo {
  width: 50%;
}

#pricing {
  padding: 10%;
  background-color: #eeeeee;
  text-align: center;
}

.pricing-col {
  padding: 5% 1%;
}

.card-header-h3 {
  font-size: 2rem;
}

.card-body-h4 {
  color: #222831;
  font-size: 3rem;
}

#cta {
  background-color: #ff4c68;
  padding: 10% 5% 2.5% 5%;
  text-align: center;
}

#cta h3 {
  color: #222831;
}

.logo-cta {
  color: #eeeeee;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 0;
}

.btn-cta {
  margin: 2.5% 1.5% 0 1.5%;
}

#footer {
  padding: 5% 0 2.5% 0;
  background-color: #eeeeee;
  font-size: 0.7rem;
  text-align: center;
}

.fa-facebook-square, .fa-twitter-square, .fa-youtube-square, .fa-envelope-square {
  font-size: 1.5rem;
  margin: 0 0.5% 0.5% 0.5%;
}
