body {
  font-family: 'Montserrat', sans-serif;
  background-color: #222831;
}

h1 {
  color: #222831;
  font-weight: 900;
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  color: #ff4c68;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

h4 {
  color: #ff4c68;
  font-size: 2em;
  text-align: center;
}

p {
  color: #ff4c68;
  font-size: 1.5em;
}

hr {
  border-color: #ff4c68;
  border-style: dotted none none none;
  border-width: 0.5em;
  width: 30%;
}

#title {
  background-color: #ff4c68;
  position: relative;
}

.container-fluid-1 {
  padding: 3% 10%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.navbar {
  font-size: 1.5em;
  margin-bottom: 3%;
}

.nav-item {
  padding: 0 3%;
}

.btn {
  margin: 5% 0;
}

.model-img {
  position: relative;
  margin: 5% auto 5% 25%;
  width: 35%;
  transform: rotate(25deg);
}

#prospects {
  position: relative;
  margin: 10% auto 0 auto;
}

.prospects-row {
  margin: 5% auto;
}

.prospects-man {
  margin-top: 5%;
}

.prospects-img {
  margin: 0 auto 0 auto;
  text-align: center;
}

.prospects-approval {
  text-align: center;
}

.prospects-bio {
  font-style: italic;
  text-align: center;
}

.bio-swipe-left {
  text-decoration: line-through;
}

.prospects-bio-location {
  font-weight: bold;
  text-align: center;
}

.white_man_smile {
  width: 45%;
  border-radius: 100%;
}

.black_man_smile {
  width: 45%;
  background-color: #cadefc;
  border-radius: 100%;
}

.asian_man_smile {
  width: 45%;
  border-radius: 100%;
}

#features {
  margin: 10% auto 0 auto;
}

.feature-div {
  text-align: center;
  margin: 5% auto;
}

.icon {
  color: #ff4c68;
  margin-bottom: 3%;
}

.icon:hover {
  color: #ff1e56;
}

#testimonials {
  margin: 10% auto 0 auto;
  text-align: center;
}

.testimonial-div {
  align-items: center;
  display: grid;
  justify-content: center;
  margin: 5% auto;
}

.testimonial-img {
  margin: 5% auto 0 auto;
  width: 70%;
}

.testimonial-p {
  padding: 2%;
}
